.todo-container{
  width: 40%;
  margin: 2em auto;
  background-color: rgb(255, 255, 255);

  border-radius: 5px;
  color: rgb(27, 27, 27);
}

.todo-header{
  padding: 0.5em;
  border-bottom: 1px solid rgb(226, 225, 225);
  text-align: center;
}

.todo-header h1{
  margin:0;
}

.form-todo{
  padding: 1em 3em;
  margin: 0 2em;
  border-bottom: 1px solid rgb(226, 225, 225);
}

.form-todo h2, .list-todo h2{
  text-align: center;
  margin-top: .5em;
  margin-bottom: 1em;
}

.loading-gif{
  margin: 3em auto;
  display: block;
}

.list-todo{
  padding: 0 1em 2em;
  margin: 1em 2em;
}

.list-todo h2{
  margin-bottom: 0;
}